<launch>
    <arg name="map_url" default="package://dliveui/maps/iitd.osm"/> 
    <node pkg="osm_cartography" type="osm_server" name="osm_server" output="screen">
        <param name="map_url" value="$(arg map_url)"/>
    </node>

    <node pkg="osm_cartography" type="viz_osm" name="viz_osm">
        <param name="map_url" value="$(arg map_url)"/>
    </node>
    
    <node pkg="tf" type="static_transform_publisher" name="tf_world_map" args="0 0 0 0 0 0 1 /world /map 100" >
        <param name="capability_group" value="0 tf"/>
    </node>
    
    <node pkg="tf" type="static_transform_publisher" name="tf_map_local_map" args="714244.59 3159474.69 0 0 0 0 1 /map /local_map 100" >
        <param name="capability_group" value="0 tf"/>
    </node>

    <node pkg="dliveui" type="get_point.py" name="get_point" output="screen"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dliveui)/rviz/iitd_full.rviz"/>

    <arg name="gui" default="True" />
    <param name="robot_description" textfile="/home/dch/ws/src/dliveui/urdf/robot.urdf" />  
    <param name="use_gui" value="$(arg gui)"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <node pkg="dliveui" type="gps_localisation_full.py" name="gps" />
</launch>
